# Python Scripts for Movies from 04-23
### This ipynb file will contain the python code that can be exicuted to display several charts and data assocated with the movies .csv file

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

filename = 'movies_2004_2023_cleaned.csv'

In [16]:
df = pd.read_csv(filename)

In [17]:
df.describe()

,Budget,Profit,Box office,Profit perc,Year,Month,Day,action,adventure,animated,...,horror,musical,psychological,romantic,science,sports,superhero,supernatural,thriller,war
count,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,...,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000,2842.000000
mean,47.449408,90.616284,138.065693,250.319213,2012.760380,6.779029,16.079521,0.153413,0.040816,0.062632,...,0.094652,0.034483,0.034483,0.107671,0.071077,0.030964,0.039761,0.039761,0.123153,0.017241
std,56.643636,207.745941,246.771687,1035.310786,5.393356,3.441635,8.433896,0.360449,0.197899,0.242342,...,0.292785,0.182498,0.182498,0.310019,0.256998,0.173251,0.195431,0.195431,0.328670,0.130192
min,0.050000,-199.545970,0.000190,-99.993870,2004.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,-1.703978,14.400000,-17.109648,2008.000000,4.000000,9.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,21.900000,50.450000,101.466668,2012.000000,7.000000,16.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,60.000000,88.375000,147.375000,269.748247,2017.000000,10.000000,23.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,469.600000,2686.000000,2923.000000,42900.000000,2023.000000,12.000000,31.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2842 entries, 0 to 2841
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          2842 non-null   object
 1   Budget         2842 non-null   float64
 2   Profit         2842 non-null   float64
 3   Box office     2842 non-null   float64
 4   Profit perc    2842 non-null   float64
 5   Year           2842 non-null   float64
 6   Month          2842 non-null   float64
 7   Day            2842 non-null   float64
 8   action         2842 non-null   float64
 9   adventure      2842 non-null   float64
 10  animated       2842 non-null   float64
 11  biographical   2842 non-null   float64
 12  black          2842 non-null   float64
 13  buddy          2842 non-null   float64
 14  comedy         2842 non-null   float64
 15  comedy-drama   2842 non-null   float64
 16  crime          2842 non-null   float64
 17  drama          2842 non-null   float64
 18  epic           2842 non-null   float64
 19  fantasy        2842 non-null   float64
 20  fiction        2842 non-null   float64
 21  historical     2842 non-null   float64
 22  horror         2842 non-null   float64
 23  musical        2842 non-null   float64
 24  psychological  2842 non-null   float64
 25  romantic       2842 non-null   float64
 26  science        2842 non-null   float64
 27  sports         2842 non-null   float64
 28  superhero      2842 non-null   float64
 29  supernatural   2842 non-null   float64
 30  thriller       2842 non-null   float64
 31  war            2842 non-null   float64
 32  Budget group   2841 non-null   object
dtypes: float64(31), object(2)
memory usage: 732.8+ KB

In [19]:
df.head()

,Title,Budget,Profit,Box office,Profit perc,Year,Month,Day,action,adventure,...,musical,psychological,romantic,science,sports,superhero,supernatural,thriller,war,Budget group
0,Chasing Liberty,23.0,-11.000000,12.000000,-47.826088,2004.0,1.0,9.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,mid
1,Along Came Polly,42.0,136.300000,178.300000,324.523800,2004.0,1.0,16.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,mid
2,D.E.B.S.,3.5,-3.402554,0.097446,-97.215830,2004.0,1.0,22.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,low
3,The Butterfly Effect,13.0,83.800000,96.800000,644.615360,2004.0,1.0,23.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,low
4,Win a Date with Tad Hamilton!,22.0,-0.700000,21.300000,-3.181818,2004.0,1.0,23.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,mid

In [20]:
columns_to_drop = ['Month', 'Day', 'Budget group']
df.drop(columns_to_drop, axis=1, inplace=True)

In [26]:
df_action = df[df['action'] == 1]
df_adventure = df[df['adventure'] == 1]
df_animated = df[df['animated'] == 1]
df_biographical = df[df['biographical'] == 1]
df_black = df[df['black'] == 1]
df_buddy = df[df['buddy'] == 1]
df_comedy = df[df['comedy'] == 1]
df_comedy_drama = df[df['comedy-drama'] == 1]
df_crime = df[df['crime'] == 1]
df_drama = df[df['drama'] == 1]
df_epic = df[df['epic'] == 1]
df_fantasy = df[df['fantasy'] == 1]
df_fiction = df[df['fiction'] == 1]
df_historical = df[df['historical'] == 1]
df_horror = df[df['horror'] == 1]
df_musical = df[df['musical'] == 1]
df_psycological = df[df['psychological'] == 1]
df_romantic = df[df['romantic'] == 1]
df_science = df[df['science'] == 1]
df_sports = df[df['sports'] == 1]
df_superhero = df[df['superhero'] == 1]
df_supernatural = df[df['supernatural'] == 1]
df_thriller = df[df['thriller'] == 1]
df_war = df[df['war'] == 1]

In [32]:
df_profit = df['Profit']
df_profit

0       -11.000000
1       136.300000
2        -3.402554
3        83.800000
4        -0.700000
           ...
2837      8.900000
2838      2.300000
2839    -47.800000
2840    -15.200000
2841    -80.300000
Name: Profit, Length: 2842, dtype: float64